[submodule "src/jsoncons"]
	path = src/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "src/libbbmutils"]
	path = src/libbbmutils
	url = git@github.com:physycom/libbbmutils.git
